.items {
  text-align: center;
}

.standart {
  background-color: rgb(197, 196, 196);
  padding: 5px 20px;

  min-height: 50px;
}
.lots {
  padding: 5px 20px;
}
.month {
  background-color: rgb(197, 196, 196);
  padding: 5px 20px;
}
.pay {
  padding: 5px 20px;
}
.payment {
  min-height: 60px;
  background-color: rgb(197, 196, 196);
  padding: 5px 20px;
}
.actions {
  padding: 5px 20px;
}
