.items {
  text-align: center;
}

.item {
  min-height: 80px;
  text-align: center;
  color: rgb(89, 89, 228);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 1px solid #c2bfbf;
}

.timer {
  text-align: center;
  color: rgb(184, 3, 3);
  background: rgb(233, 196, 196);
  padding: 16px 80px;
  border-radius: 5px;
  position: relative;
  min-height: 16px;
}

.time {
  display: flex;
  justify-content: center;
}

.icon {
  position: absolute;
  top: 15px;
  right: 15px;
}

.standart {
  background-color: #e2e2e2;
  padding: 5px 20px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lots {
  padding: 5px 20px;
  min-height: 16px;
}

.month {
  background-color: #e2e2e2;
  padding: 5px 20px;
  min-height: 16px;
}

.pay {
  padding: 5px 20px;
  min-height: 16px;
}

.payment {
  min-height: 70px;
  background-color: #e2e2e2;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.actions {
  padding: 5px 20px;
  min-height: 16px;
}

.colorFirst {
  color: blue;
}

.colorSecond {
  color: red;
}

.colorThird {
  color: green;
}
