.items {
  text-align: center;
}

.standart {
  background-color: rgb(197, 196, 196);
  padding: 5px 20px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lots {
  padding: 5px 20px;
}
.month {
  background-color: rgb(197, 196, 196);
  padding: 5px 20px;
}
.pay {
  padding: 5px 20px;
}
.payment {
  min-height: 70px;
  background-color: rgb(197, 196, 196);
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.actions {
  padding: 5px 20px;
}
.colorFirst {
  color: blue;
}
.colorSecond {
  color: red;
}
.colorThird {
  color: green;
}
