.title {
  color: red;
  margin-bottom: 40px;
  font-size: 24px;
  /*border-bottom: 1px solid rgb(197, 196, 196);*/
  position: relative;
}
.title span {
  font-weight: 700;
}
.title::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #e2e2e2;
  position: absolute;
  bottom: -20px;
  left: 0%;
  /*transform: translateX(50%);*/
}
.subtitle {
  color: red;
  background: #e2e2e2;
  display: inline-block;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 40px;
}
.block {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  min-height: 40px;
  margin-bottom: 20px;
}
.text {
  text-align: center;
  color: rgb(89, 89, 228);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.timer {
  text-align: center;
  color: rgb(184, 3, 3);
  background: rgb(233, 196, 196);
  padding: 0px 100px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
}
.timer::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 18px;
  width: 10px;
  height: 15px;
  border: 2px solid #000;
}
.table {
  width: 1600px;
  display: grid;
  /*grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;*/
  grid-template-columns: 500px repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  /*border: 1px solid #000;*/
  /*gap: 10px;*/
}
/*.table:first-child {
  text-align: left;
}*/
.item {
  min-height: 80px;
  text-align: center;
  color: rgb(89, 89, 228);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 1px solid #c2bfbf;
}
.standart {
  background-color: #e2e2e2;
  padding: 5px 20px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lots {
  padding: 5px 20px;
  min-height: 16px;
}
.month {
  background-color: #e2e2e2;
  padding: 5px 20px;
  min-height: 16px;
}
.pay {
  padding: 5px 20px;
  min-height: 16px;
}
.payment {
  min-height: 70px;
  background-color: #e2e2e2;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.actions {
  padding: 5px 20px;
  min-height: 16px;
}
